<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Adam Gwóźdź">
    <title>Diet App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/static/css/base.css">
    <link rel="stylesheet" href="/resources/static/css/buttons.css">
    <style>
        h1 {
            text-align: center;
        }

        form {
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">
            <h1>Today Diet</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Food</th>
                        <th>Weight</th>
                        <th>Calories</th>
                        <th>Protein</th>
                        <th>Fat</th>
                        <th>Carbs</th>
                        <th>Sugar</th>
                        <th>
                            <form style="margin-right: 2px" method="get" action="/src/main/java/dietApp/dietapp/food/service/FoodService.java">
                                <a href="../templates/foods.html" class="pop" role="button" type="submit">+</a>
                            </form>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="d : ${diet}">
                        <td><span th:text="${d.getFood()} + ' '"> </span></td>
                        <td><span th:text="${d.getWeight()} + ' '"> </span></td>
                        <td><span th:text="${d.getCalories()}"></span></td>
                        <td><span th:text="${d.getProtein()}"></span></td>
                        <td><span th:text="${d.getFat()}"></span></td>
                        <td><span th:text="${d.getCarbohydrates()}"></span></td>
                        <td><span th:text="${d.getSugar()}"></span></td>
                        <td>
                            <form style="margin: 0" th:action="@{/diet/delete}" method="post">
                                <button class="pop" type="submit" th:name="index" th:value="${d.getId()}">-</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Works only when no empty diet!!! -->
            <div th:if="${totalNutrition != null}">
                <h2>Total Daily</h2>
                <div th:object="${totalNutrition}">
                    <p th:text="' kcal '+ ${totalNutrition.getCalories()}" class="rounded border border-success"></p>
                    <p th:text="' protein '+ ${totalNutrition.getProtein()}" class="rounded border border-info"></p>
                    <p th:text="' fat ' + ${totalNutrition.getFat()}" class="rounded border border-warning"></p>
                    <p th:text="' carbohydrates ' + ${totalNutrition.getCarbs()}" class="rounded border border-danger">
                    </p>
                    <p th:text="' sugar ' + ${totalNutrition.getSugar()}" class="rounded border border-white"></p>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <form style="margin-left: 2px" method="get" action="/logout">
                    <a href="../templates/index.html" class="btn btn-lg button-sign btn-block" role="button" type="submit">Log Out</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>